@media (max-width: 1750px) {
  .container {
    width: 1600px;
  }
  .contacts__place {
    padding-right: 101px;
    padding-left: max(80px, (100% - 1600px) / 2 + 80px);
  }
}
@media (max-width: 1660px) {
  .container {
    width: 1400px;
  }
  .projects__Swiper {
    width: 944px;
  }
  .events__list-item:nth-child(3n) {
    margin: 0 50px 50px 0;
  }
}
@media (max-width: 1400px) {
  .container {
    width: 1200px;
  }
  .top__filters-list-item:not(:last-child) {
    padding-right: 50px;
  }
  .top__filters-search-input {
    width: 140px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 930px;
  }
  .top {
    padding-bottom: 0;
  }
  .top-swiper-img {
    scale: 1;
  }
  .top__filters {
    display: none;
  }
  .top__slider-article {
    max-width: 700px;
    padding-bottom: 133px;
  }
  .top__slider-article-wrap {
    padding: 114px 0;
  }
  .top__slider-article-title {
    padding: 0 0 10px 0;
  }
  .gallery {
    padding: 80px 0;
  }
  .gallery-swiper-slide {
    height: auto !important;
    max-width: 280px !important;
    width: 280px !important;
  }
  .gallery__desc-filter-selector {
    width: 280px;
  }
  .catalog__info-accordion-artists-list-item {
    width: calc((100% - 24px) / 2);
  }
  .catalog__info-accordion-list-item-content-empty-logo {
    width: 173px;
    height: 114px;
  }
  .catalog__info-accordion-list-item-content-empty-logo-img {
    width: 173px;
    height: 114px;
  }
  .events {
    padding: 93px 0 79px 0;
  }
  .events__list {
    max-height: 734px;
  }
  .events__list-item {
    height: 682px;
  }
  .events__list-item-about {
    height: auto;
    padding: 13px 0 0 37px;
    height: 62%;
  }
  .events__list-item-about-name {
    padding: 0 19px 0 0;
  }
  .events__list-item-about-desc {
    padding: 3px 28px 0 0;
  }
  .events__list-item:not(:nth-child(3n), :last-child) {
    margin: 0 29px 50px 0;
  }
  .events__list-item:nth-child(3n) {
    margin: 0 0 50px 0;
  }
  .events__list-all {
    max-height: 1500px;
  }
  .publications {
    background-image: url("../img/publicationsBG-1024.jpg");
  }
  .publications__desc {
    padding: 0px 20px 0 0;
  }
  .publications-swiper-img {
    width: 290px;
  }
  .publications__book-articles {
    padding: 13px 0 15px 0;
  }
  .projects__Swiper {
    width: 806px;
  }
  .projects-swiper-slide {
    width: 384px !important;
    height: 128px !important;
  }
  .contacts__place {
    padding-left: max(50px, (100vw - 1170px) / 2);
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
  }
  .gallery__desktop {
    display: none;
  }
  .gallery__mobile {
    display: block;
  }
  .gallery__desc-download {
    position: relative;
    padding: 15px 0 0 0;
  }
  .catalog__about-wrap {
    align-items: flex-start;
    flex-direction: column;
  }
  .catalog__about-countries-list {
    align-items: center;
  }
  .catalog__about-desc {
    display: none;
  }
  .catalog__info {
    flex-direction: column-reverse;
  }
  .catalog__info-accordion, .catalog__info-desc {
    width: 100%;
  }
  .events__list-all {
    max-height: 2200px;
  }
  .events__list-item {
    width: 45%;
  }
  .events__list-item:not(:nth-child(3n), :last-child) {
    margin: 0 29px 50px 0;
  }
  .events__list-item:nth-child(2n) {
    margin: 0 0px 50px 0;
  }
  .events__list-item:nth-child(3n) {
    margin: 0 29px 50px 0;
  }
  .events__list-item-about-desc {
    padding: 3px 9px 0;
  }
  .publications__wrap {
    flex-direction: column;
  }
  .publications-swiper-img {
    width: 230px;
  }
  .contacts__place {
    padding-right: 45px;
    width: 50%;
  }
  .projects__Swiper {
    width: 573px;
  }
  .projects-swiper-slide {
    width: 264px !important;
    height: 106px !important;
  }
  .projects__partners-slider-img {
    width: 210px;
    height: 52px;
  }
}
@media (max-width: 768px) {
  .gallery__desc-filter {
    padding-bottom: 25px;
  }
  .catalog__info-accordion-list-item-label {
    font-size: 1.8em;
  }
  .catalog__info-accordion-list-item-label:after {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  .catalog__info-desc-article-about {
    font-size: 1.6em;
  }
  .catalog__info-desc-article-dates {
    padding: 13px 0 6px 0;
  }
  .events__list-item-about {
    height: 60%;
  }
  .projects__Swiper {
    width: 434px;
  }
  .projects-swiper-wrapper {
    display: flex;
  }
  .projects-swiper-slide {
    width: 195px !important;
    height: 65px !important;
  }
  .projects__partners-slider-img {
    width: 104.743px;
    height: 25.936px;
  }
  .publications {
    background-image: url("../img/publicationsBG-768.jpg");
  }
  .contacts {
    padding-bottom: 50px;
  }
  .contacts__wrap {
    flex-direction: column-reverse;
  }
  .contacts__title {
    font-size: 2.8em;
  }
  .contacts__place {
    width: 100%;
    padding: 0;
    border: none;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .contacts__place-form-title {
    font-size: 1.8em;
  }
  .contacts__place-form-name, .contacts__place-form-phone {
    width: 290px;
  }
  .contacts__maps {
    width: 100%;
    height: 320px;
  }
  .contacts__maps-iframe {
    width: 100%;
    height: 320px;
  }
}
@media (max-width: 670px) {
  .top__slider-article {
    text-align: center;
  }
  .top__slider-article-title {
    font-size: 3.2em;
    line-height: normal;
  }
  .top__slider-article-subtitle {
    font-size: 1.2em;
    line-height: normal;
  }
  .events__mobile {
    display: block;
  }
  .events__list, .events__showall {
    display: none;
  }
  .publications__Swiper {
    display: none;
  }
  .publications__books-mobile {
    display: block;
    padding: 30px 0 0 0;
  }
  .publications__books-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
  }
  .publications__books-list-item {
    padding-bottom: 49px;
  }
  .publications__book-img {
    width: 130px;
    height: 143px;
  }
  .publications__book-articles {
    padding: 5px 0 12px 0;
    flex-direction: column;
  }
  .publications__book-about-name, .publications__book-about-author {
    font-size: 1.2em;
  }
  .publications__book-price, .publications__book-order {
    font-size: 1.2em;
  }
  .projects__Swiper {
    width: 197px;
  }
}
@media (max-width: 550px) {
  .container {
    padding: 0 15px;
  }
  .top {
    padding-bottom: 17px;
  }
  .top__slider-article {
    padding-bottom: 37px;
  }
  .top__slider-article-wrap {
    align-items: center;
    padding: 29px 0;
  }
  .top__slider-article-title {
    padding: 0px 0 3px 0;
  }
  .top__slider-btn {
    font-size: 1.2em;
    padding: 12px 10px;
    width: 200px;
    height: 40px;
  }
  .about-us {
    padding: 50px 0 41px;
  }
  .about-us__article-title {
    font-size: 2.8em;
    padding-bottom: 12px;
  }
  .about-us__article-text {
    font-size: 1.4em;
    line-height: 28px;
  }
  .gallery {
    padding: 50px 0 40px;
  }
  .gallery__desc-title {
    font-size: 2.8em;
    padding-bottom: 12px;
  }
  .gallery__desc-filter {
    padding: 0 0 38px;
  }
  .gallery__desc-filter-title {
    font-size: 1.6em;
    padding: 0 0 5px 0;
  }
  .gallery__desc-filter-selector, .gallery__desc-filter-selector-options {
    width: 100%;
  }
  .gallery__desc-download {
    font-size: 1.6em;
  }
  .gallerySwiper-nav {
    margin: 25px auto 0 auto;
  }
  .catalog {
    padding: 50px 0;
  }
  .catalog__about {
    padding: 0;
  }
  .catalog__about-title {
    font-size: 2.8em;
    padding: 0;
  }
  .catalog__about-countries-list-item:not(:last-child) {
    padding: 0 9px 0 0;
  }
  .catalog__about-countries-list-item-link-img {
    width: 32px;
    height: 32px;
    margin: 6px;
  }
  .catalog__about-countries-list-item-link-img--active {
    padding: 6px;
  }
  .catalog__info {
    gap: 54px;
  }
  .catalog__info-desc-photo {
    width: 290px;
  }
  .catalog__info-desc-article {
    padding: 17px 0 0 0;
  }
  .catalog__info-accordion-artists-list {
    padding: 19px 0 0 0;
    max-height: fit-content;
  }
  .catalog__info-accordion-artists-list-item {
    width: 100%;
  }
  .catalog__info-accordion-list-item-label {
    padding: 18px 0 20px;
  }
  .catalog__info-accordion-list-item-content-empty-logo {
    width: 118px;
    height: 79px;
    transform: rotate(90deg);
  }
  .catalog__info-accordion-list-item-content-empty-logo-img {
    width: 118px;
    height: 79px;
  }
  .events {
    padding: 0px 0 16px 0;
  }
  .events__title {
    font-size: 2.8em;
    padding-bottom: 13px;
  }
  .projects__articles-title {
    font-size: 2.8em;
  }
  .projects__partners-title {
    font-size: 1.8em;
  }
  .publications {
    padding: 35px 0;
    background-image: url("../img/publicationsBG-320.jpg");
  }
  .publications__desc-title {
    font-size: 2.8em;
  }
  .publications__desc-filter {
    display: none;
  }
  .publications__desc-mobile-filter {
    display: block;
  }
}

/*# sourceMappingURL=media.css.map */
